.imgindetail{
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}
.halfinfo{
    text-align: center;
}
.containermain{
    display: flex;
    padding: 20px 35px 20px 45px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.htagindetails{
    display: flex;
    justify-content: center;
    align-items: center;
    color:skyblue;
}